1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName", "Xarond INC"
      VALUE "FileDescription", "Newborn"
      VALUE "FileVersion", "1.0"
      VALUE "InternalName", "newborn"
      VALUE "LegalCopyright", "Xarond INC"
      VALUE "OriginalFilename", "newborn.exe"
      VALUE "ProductName", "Newborn"
      VALUE "ProductVersion", "1.0"
    END
  END

  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1252
  END
END
icon ICON "newborn.ico"
